/* You can add global styles to this file, and also import other style files */
/*o asterisco pega tudo, ou seja, como eu vou colocar background, vai colocar a mesma cor em todo background*/
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color: #101010;
  color: white;
  font-family: 'Segoe UI';
}
a{
  text-decoration: none;
}
